h1 {
  font-size: 30;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 25;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 20;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
}

h4 {
  font-size: 20;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
}

h6 {
  margin: auto;
  font-size: 20;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
}
p {
  font-size: 18;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
}
.center {
  margin: auto;
  text-align: center;
  /* width: 200px; */
  border: 5px solid #0000;
  border-style: solid none none none;
  padding: 0%;
}
.center_body {
  /* margin: auto; */
  margin-top: 2%;
  text-align: center;
  /* width: 50; */
  border: 0px;
  padding: 3%;
}
.center_text {
  /* margin-left: 255px; */
  margin: auto;
  text-align: left;
  width: 200px;
  padding: 0%;
}
.productimg {
  margin: auto;
  border: 3px solid #000;
}

.a:link {
  text-decoration: underline;
  color: black;
}

.a {
  text-decoration: underline;
  color: black;
}

.header {
  margin: auto;
  border: 5px solid #0000;
  border-style: solid none none none;
  padding: 0%;
}

/* .add_to_cart {
  border: 5px #0000;
  background-color: #f5f900;
  padding: 3%;
  width: 30%;
  font-weight: bold;
} */

button {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 35px;
  border: 2px solid #000;
  background-color: #f5f900;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: max-content;
  font-weight: bold;
}

.dropdown {
  border: 5px #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20;
  cursor: pointer;
  width: 200px;
  /* padding-right: 40px;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-top: 3px; */
}

.dropdown_content {
  color: black;
  width: 200px;
}

.checkout {
  border: 5px #0000;
  border-style: solid none none none;
  background-color: #f5f900;
  padding: 3%;
  width: 30%;
}

hr {
  background-color: black;
  size: 5px;
}

.dropdown_menus {
  margin: auto;
  margin-top: 5%;
  padding: 2%;
}

.hover_elements:hover {
  background-color: yellow;
  width: fit-content;
}
select {
  width: 200px;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* .container-0 {
  display: flex;
} */

.container-1 {
  display: flex;
  flex-flow: row wrap;
  /* align-content: center; */
  justify-content: space-evenly;
  width: 100%;
  gap: 50px;
}

.container-1-row-1 {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px 80px;
}

.container-1-row-2 {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px 80px;
}

.container-1-row-3 {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px 80px;
}

.child-1 {
  /* align-items: flex-start; */
  flex-basis: auto;
  flex-direction: column;
  /* align-content: ; */
  /* flex-grow: 3; */
}
.child-2 {
  flex-basis: auto;
  flex-direction: column;
}
.child-3 {
  flex-basis: auto;
  flex-direction: column;
}
.child-4 {
  flex-basis: auto;
  flex-direction: column;
}
.child-5 {
  flex-basis: auto;
  flex-direction: column;
}
.child-6 {
  flex-basis: auto;
  flex-direction: column;
}
